/* ELEMENT STYLING */

body {
	background-color: #000;
	font-family: "Raleway", Helvetica, sans-serif;
	overflow-x: hidden;
}

button {
	margin-top: 10px;
}

h1, h2, h3, h4 {
	font-family: "Oswald", Helvetica, sans-serif;
	text-transform: uppercase;
}

h2 {
	color: #d5c296;
	font-size: 46px;
	line-height: 35px;
}

h3 {
	/* used on internal pages */
	color: #fff;
	font-size: 52px;
	line-height: 35px;
}

ul:last-child {
	margin-bottom: 50px;
}


/* LAYOUT STYLING */

#about {
	height: 750px;
	width: 422px;
}

.btn-custom { /* bootstrap class */
  background-color: #d5c296;
  border-color: #d5c296;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
  background-color: #cc9933;
  border-color: #cc9933;
}

.cols {
	padding-bottom: 5em;
	padding-top: 8em;
}
#contact-txt {
	color: #fff;
	font-size: 1.75em;
}

.ctr {
	margin: 0 auto;
	text-align: center;
}

.descrip {
	color: #fff;
	font-size: 19px;
	height: 85px;
	line-height: 23px;
	padding: 5px;
	text-align: center;
}
#email {
	border-radius: 5px;
	padding: 0.65em;
	width: 400px;
}
#email-label {
	color: #fff;
	display: block;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}
.foot {
	color: #6d6d6d;
	margin: 0 auto;
	text-align: center;
	max-width: 500px;
	padding-top: 65px;
}
#inquire {
	align-items: center;
	display: flex;
	height: auto;
	flex-direction: column;
	min-height: 33vh;
	padding: 2em 0;
}
.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
#header {
	margin-top: 5em;
}

#hero {
	background-color: #000;
	background-image: url("../img/blk-lp-cvr.jpg");
	background-size: cover;
	padding-bottom: 30%;
}

.logo-hero {
	width: 375px;
	margin: auto;
}

.main-descrip {
	color: #fff;
	font-size: 25px;
	line-height: 35px;
	margin: 45px 25px;
	text-align: center;
}
#nav-bar {
	background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0.8));
	margin-top: 0;
}
#nav-bar {
	padding-top: 1em;	
}
.navbar-inverse { /* bootstrap class */
    background-color: transparent;
    border-color: transparent;
}
#submit {
	align-items: center;
	background-image: linear-gradient(180deg, rgba(60,118,61,1), rgba(41,80,42,1));
	border-color: rgba(60,118,61,1);
	color: #fff;
	height: 35px;
	line-height: 0;	
	margin-top: 1em;
	padding: 1.2em;
	width: 125px;
}

#wrapper {
	margin:0 auto;
	text-align: center;
}

/* TEXT STYLING */

.black-text-shadow {
	text-shadow: black 3px 3px 0;
}

.btn-more {
	color: #000;
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
}

.hvr {
	border: 2px red solid;
	color: #fff;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 18px;
	position: absolute;
	top: 300px;
	text-transform: uppercase;
	width: 250px;
	z-index: 99;
}

#logo-hero-text {
	color: #fff;
	font-size: 55px;
	letter-spacing: 2px;
	left: 19px;
    position: relative;
    top: -135px;
    z-index: 10;
}
#models {
	margin-top: 2em;
}
.navbar-default .navbar-nav > li > a {
  /* bootstrap classes */
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	/* bootstrap classes */
    color: #eedaae;
}
#player {
	background: #000 url(../img/about-gl.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	position: relative;
	text-align: center;
	margin: 0 auto;
}
#player-text {
	color: #fff;
	padding: 2em;
}
#player-text p {
	background-color: rgba(0,0,0,0.5);
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 18px;
}
.titles {
	color: #eedaae;
	font-size: 30px;
	letter-spacing: 1px;
	margin-top: 9px;
}

.top-nav {
	font-family: "Oswald", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#video-cont {
	background-color: #eedaae;
	color: #000;
	padding: 3em 0;
}
#video-cont p {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.1em;
	padding-top: 1em;
}

@media only screen and (min-width: 1200px) {
	#hero {
		background-color: #000;
		background-image: url("../img/blk-lp-cvr.jpg");
		background-size: cover;
		padding-bottom: 50%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.titles{
		font-size: 24px;
	}
	.top-nav {
		font-size: 15px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.descrip {
		min-height: 115px;
	}
	.navbar {
		/* bootstrap class */
		margin-bottom: -20px;
		margin-top: 15px;
	}
	.titles {
		margin-top: 12px;
	}
}

@media only screen and (max-width: 767px) {
	.btn-more {
		max-width: 180px;
		margin: 18px auto;
	}
	#models .cols {
		max-width: 400px;
		margin: auto;
		padding-bottom: 7em;
		padding-top: 10em;
	}
	#hero {    
		background-color: #000;
	    background-image: url("../img/blk-lp-cvr.jpg");
	    background-size: 800px;
	    background-repeat: no-repeat;
	    background-position: -70px 60px, center;
	    padding-bottom: 50%;
	}
	.titles {
		font-size: 22px;
		text-align: left;
		margin-left: 25px;
		margin-top: 16px;
	}
}
